{# =============================生成配置前需要先给如下变量赋值================================== #}
{%- set edge_datacenter = 'XXX1' %}
{%- set edge_az_community = 'XXX2' %}
{%- set edge_az_intranet_community = 'XXX3' %}
{%- set use_fake_asn = 'yes' %}
{%- set edgepe_asn = 'XXX4' %}
{%- set ucore_datacenter = 'XXX5' %}
{%- set toc_inband_ip = 'XXX6' %}
{%- set toc_inband_ip6 = 'XXX7' %}
{# =============================vpn config========================================= #}
ip vpn-instance TOB-DCN
route-distinguisher 64543:1002
vpn-target 64543:1002 import-extcommunity
vpn-target 64543:1002 export-extcommunity
#
address-family ipv4
route-distinguisher 64543:1002
tnl-policy SR-LSP-ECMP
#
address-family ipv6
route-distinguisher 64543:1002
tnl-policy SR-LSP-ECMP
#
{# =============================config community & prefix-list========================================= #}
ip prefix-list PL_INTER_SUMMARY_V4 index 10 permit 10.0.0.0 8
ip prefix-list PL_FAKEINTERNET_SUMMARY_V4 index 10 permit 30.130.0.0 16 less-equal 24
ip prefix-list PL_{{edge_datacenter}}_LO_V4 index 10 permit {{toc_inband_ip}} 26
ip prefix-list PL_{{edge_datacenter}}_LO_DETAIL_V4 index 10 permit {{toc_inband_ip}} 26 greater-equal 27

ipv6 prefix-list PL_INTER_SUMMARY_V6 index 10 permit FDBD:: 16
ipv6 prefix-list PL_FAKEINTERNET_SUMMARY_V6 index 10 permit 2406:D440:FE00:: 40 less-equal 56
ipv6 prefix-list PL_{{edge_datacenter}}_LO_V6 index 10 permit {{toc_inband_ip6}} 64
ipv6 prefix-list PL_{{edge_datacenter}}_LO_DETAIL_V6 index 10 permit {{toc_inband_ip6}} 64 greater-equal 65

ip community-list basic CL_CORE_DC_TAG permit 65520:11000
ip community-list basic CL_CORE_DC_TAG permit 65520:11001
ip community-list basic CL_CORE_DC_TAG permit 65520:5
ip community-list basic CL_CORE_DC_TAG permit 65520:6
ip community-list basic CL_CORE_DC_TAG permit 65520:7
ip community-list basic CL_EDGEPOP_{{edge_datacenter}} permit {{edge_az_community}}
ip community-list basic CL_EDGEPOP_{{edge_datacenter}}_INTRANET permit {{edge_az_intranet_community}}
{# =============================global policy========================================= #}
route-policy FROM_{{ucore_datacenter}}_UCORE_V4 permit node 10
if-match community name CL_CORE_DC_TAG
#
route-policy FROM_{{ucore_datacenter}}_UCORE_V4 permit node 20
if-match ip address prefix-list PL_INTER_SUMMARY_V4
#
route-policy FROM_{{ucore_datacenter}}_UCORE_V4 permit node 30
if-match ip address prefix-list PL_FAKEINTERNET_SUMMARY_V4
#
route-policy FROM_{{ucore_datacenter}}_UCORE_V4 deny node 1000
#
route-policy FROM_{{ucore_datacenter}}_UCORE_V6 permit node 10
if-match community name CL_CORE_DC_TAG
#
route-policy FROM_{{ucore_datacenter}}_UCORE_V6 permit node 20
if-match ipv6 address prefix-list PL_INTER_SUMMARY_V6
#
route-policy FROM_{{ucore_datacenter}}_UCORE_V6 permit node 30
if-match ipv6 address prefix-list PL_FAKEINTERNET_SUMMARY_V6
#
route-policy FROM_{{ucore_datacenter}}_UCORE_V6 deny node 1000
#
route-policy TO_{{ucore_datacenter}}_UCORE_V4 permit node 10
if-match ip address prefix-list PL_{{edge_datacenter}}_LO_V4
#
route-policy TO_{{ucore_datacenter}}_UCORE_V4 deny node 20
if-match ip address prefix-list PL_{{edge_datacenter}}_LO_DETAIL_V4
#
route-policy TO_{{ucore_datacenter}}_UCORE_V4 permit node 30
if-match community name CL_EDGEPOP_{{edge_datacenter}}
#
route-policy TO_{{ucore_datacenter}}_UCORE_V4 deny node 1000
#
route-policy TO_{{ucore_datacenter}}_UCORE_V6 permit node 10
if-match ipv6 address prefix-list PL_{{edge_datacenter}}_LO_V6
#
route-policy TO_{{ucore_datacenter}}_UCORE_V6 deny node 20
if-match ipv6 address prefix-list PL_{{edge_datacenter}}_LO_DETAIL_V6
#
route-policy TO_{{ucore_datacenter}}_UCORE_V6 permit node 30
if-match community name CL_EDGEPOP_{{edge_datacenter}}
#
route-policy TO_{{ucore_datacenter}}_UCORE_V6 deny node 1000
#
{# =============================global policy========================================= #}
route-policy FROM_{{edge_datacenter}}_EDGEPE_V4 permit node 10
#
route-policy FROM_{{edge_datacenter}}_EDGEPE_V4 deny node 1000
#
route-policy FROM_{{edge_datacenter}}_EDGEPE_V6 permit node 10
#
route-policy FROM_{{edge_datacenter}}_EDGEPE_V6 deny node 1000
#
route-policy TO_{{edge_datacenter}}_EDGEPE_V4 permit node 10
#
route-policy TO_{{edge_datacenter}}_EDGEPE_V4 deny node 1000
#
route-policy TO_{{edge_datacenter}}_EDGEPE_V6 permit node 10
#
route-policy TO_{{edge_datacenter}}_EDGEPE_V6 deny node 1000
#
{# =============================steering policy========================================= #}
route-policy FROM_{{edge_datacenter}}_EDGEPE_STEERING_V4 permit node 10
#
route-policy FROM_{{edge_datacenter}}_EDGEPE_STEERING_V4 deny node 1000
#
route-policy FROM_{{edge_datacenter}}_EDGEPE_STEERING_V6 permit node 10
#
route-policy FROM_{{edge_datacenter}}_EDGEPE_STEERING_V6 deny node 1000
#
route-policy TO_{{edge_datacenter}}_EDGEPE_STEERING_V4 permit node 10
#
route-policy TO_{{edge_datacenter}}_EDGEPE_STEERING_V4 deny node 1000
#
route-policy TO_{{edge_datacenter}}_EDGEPE_STEERING_V6 permit node 10
#
route-policy TO_{{edge_datacenter}}_EDGEPE_STEERING_V6 deny node 1000
#
{# =============================vpn10 policy========================================= #}
route-policy FROM_{{ucore_datacenter}}_UCORE_INTRANET_V4 permit node 10
#
route-policy FROM_{{ucore_datacenter}}_UCORE_INTRANET_V4 deny node 1000
#
route-policy FROM_{{ucore_datacenter}}_UCORE_INTRANET_V6 permit node 10
#
route-policy FROM_{{ucore_datacenter}}_UCORE_INTRANET_V6 deny node 1000
#
route-policy TO_{{ucore_datacenter}}_UCORE_INTRANET_V4 permit node 10
if-match community name CL_EDGEPOP_{{edge_datacenter}}_INTRANET
#
route-policy TO_{{ucore_datacenter}}_UCORE_INTRANET_V4 deny node 1000
#
route-policy TO_{{ucore_datacenter}}_UCORE_INTRANET_V6 permit node 10
if-match community name CL_EDGEPOP_{{edge_datacenter}}_INTRANET
#
route-policy TO_{{ucore_datacenter}}_UCORE_INTRANET_V6 deny node 1000
#
{# =============================vpn10 policy========================================= #}
route-policy FROM_{{edge_datacenter}}_EDGEPE_INTRANET_V4 permit node 10
#
route-policy FROM_{{edge_datacenter}}_EDGEPE_INTRANET_V4 deny node 1000
#
route-policy FROM_{{edge_datacenter}}_EDGEPE_INTRANET_V6 permit node 10
#
route-policy FROM_{{edge_datacenter}}_EDGEPE_INTRANET_V6 deny node 1000
#
route-policy TO_{{edge_datacenter}}_EDGEPE_INTRANET_V4 permit node 10
#
route-policy TO_{{edge_datacenter}}_EDGEPE_INTRANET_V4 deny node 1000
#
route-policy TO_{{edge_datacenter}}_EDGEPE_INTRANET_V6 permit node 10
#
route-policy TO_{{edge_datacenter}}_EDGEPE_INTRANET_V6 deny node 1000
#
{# =============================tob_dcn policy========================================= #}
route-policy FROM_{{ucore_datacenter}}_UCORE_TOB_DCN_V4 permit node 10
#
route-policy FROM_{{ucore_datacenter}}_UCORE_TOB_DCN_V4 deny node 1000
#
route-policy FROM_{{ucore_datacenter}}_UCORE_TOB_DCN_V6 permit node 10
#
route-policy FROM_{{ucore_datacenter}}_UCORE_TOB_DCN_V6 deny node 1000
#
route-policy TO_{{ucore_datacenter}}_UCORE_TOB_DCN_V4 deny node 1000
#
route-policy TO_{{ucore_datacenter}}_UCORE_TOB_DCN_V6 deny node 1000
#
{# =============================tob_dcn policy========================================= #}
route-policy FROM_{{edge_datacenter}}_EDGEPE_TOB_DCN_V4 permit node 10
#
route-policy FROM_{{edge_datacenter}}_EDGEPE_TOB_DCN_V4 deny node 1000
#
route-policy FROM_{{edge_datacenter}}_EDGEPE_TOB_DCN_V6 permit node 10
#
route-policy FROM_{{edge_datacenter}}_EDGEPE_TOB_DCN_V6 deny node 1000
#
route-policy TO_{{edge_datacenter}}_EDGEPE_TOB_DCN_V4 permit node 10
#
route-policy TO_{{edge_datacenter}}_EDGEPE_TOB_DCN_V4 deny node 1000
#
route-policy TO_{{edge_datacenter}}_EDGEPE_TOB_DCN_V6 permit node 10
#
route-policy TO_{{edge_datacenter}}_EDGEPE_TOB_DCN_V6 deny node 1000
#
{# =============================bgp config========================================= #}
{% if use_fake_asn == "yes" %}
bgp 64543
{% else %}
bgp {{edgepe_asn}}
{% endif %}
group {{edge_datacenter}}_EDGEPE_V4 internal
peer {{edge_datacenter}}_EDGEPE_V4 route-update-interval 0
{# peer {{edge_datacenter}}_EDGEPE_V4 bmp server 2 #}
group {{edge_datacenter}}_EDGEPE_V6 internal
peer {{edge_datacenter}}_EDGEPE_V6 route-update-interval 0
{# peer {{edge_datacenter}}_EDGEPE_V6 bmp server 2 #}
group {{ucore_datacenter}}_UCORE_V4 external
peer {{ucore_datacenter}}_UCORE_V4 as-number 137718
peer {{ucore_datacenter}}_UCORE_V4 route-update-interval 0
{# peer {{ucore_datacenter}}_UCORE_V4 bmp server 2 #}
group {{ucore_datacenter}}_UCORE_V6 external
peer {{ucore_datacenter}}_UCORE_V6 as-number 137718
peer {{ucore_datacenter}}_UCORE_V6 route-update-interval 0
{# peer {{ucore_datacenter}}_UCORE_V6 bmp server 2 #}
#
address-family ipv4 unicast
peer {{edge_datacenter}}_EDGEPE_V4 enable
y
peer {{edge_datacenter}}_EDGEPE_V4 route-policy FROM_{{edge_datacenter}}_EDGEPE_V4 import
peer {{edge_datacenter}}_EDGEPE_V4 route-policy TO_{{edge_datacenter}}_EDGEPE_V4 export
peer {{edge_datacenter}}_EDGEPE_V4 advertise-community
peer {{edge_datacenter}}_EDGEPE_V4 advertise-ext-community
peer {{edge_datacenter}}_EDGEPE_V4 next-hop-local
y
peer {{ucore_datacenter}}_UCORE_V4 enable
y
peer {{ucore_datacenter}}_UCORE_V4 route-policy FROM_{{ucore_datacenter}}_UCORE_V4 import
peer {{ucore_datacenter}}_UCORE_V4 route-policy TO_{{ucore_datacenter}}_UCORE_V4 export
peer {{ucore_datacenter}}_UCORE_V4 advertise-community
peer {{ucore_datacenter}}_UCORE_V4 advertise-ext-community
peer {{ucore_datacenter}}_UCORE_V4 keep-all-routes
#
address-family ipv6 unicast
peer {{edge_datacenter}}_EDGEPE_V6 enable
y
peer {{edge_datacenter}}_EDGEPE_V6 route-policy FROM_{{edge_datacenter}}_EDGEPE_V6 import
peer {{edge_datacenter}}_EDGEPE_V6 route-policy TO_{{edge_datacenter}}_EDGEPE_V6 export
peer {{edge_datacenter}}_EDGEPE_V6 advertise-community
peer {{edge_datacenter}}_EDGEPE_V6 advertise-ext-community
peer {{edge_datacenter}}_EDGEPE_V6 next-hop-local
y
peer {{ucore_datacenter}}_UCORE_V6 enable
y
peer {{ucore_datacenter}}_UCORE_V6 route-policy FROM_{{ucore_datacenter}}_UCORE_V6 import
peer {{ucore_datacenter}}_UCORE_V6 route-policy TO_{{ucore_datacenter}}_UCORE_V6 export
peer {{ucore_datacenter}}_UCORE_V6 advertise-community
peer {{ucore_datacenter}}_UCORE_V6 advertise-ext-community
peer {{ucore_datacenter}}_UCORE_V6 keep-all-routes
#
{# =============================steering bgp config========================================= #}
ip vpn-instance LOCAL_VPN_STEERING
group {{edge_datacenter}}_EDGEPE_STEERING_V4 internal
peer {{edge_datacenter}}_EDGEPE_STEERING_V4 route-update-interval 0
{# peer {{edge_datacenter}}_EDGEPE_STEERING_V4 bmp server 2 #}
group {{edge_datacenter}}_EDGEPE_STEERING_V6 internal
peer {{edge_datacenter}}_EDGEPE_STEERING_V6 route-update-interval 0
{# peer {{edge_datacenter}}_EDGEPE_STEERING_V6 bmp server 2 #}
#
address-family ipv4 unicast
peer {{edge_datacenter}}_EDGEPE_STEERING_V4 enable
y
peer {{edge_datacenter}}_EDGEPE_STEERING_V4 route-policy FROM_{{edge_datacenter}}_EDGEPE_STEERING_V4 import
peer {{edge_datacenter}}_EDGEPE_STEERING_V4 route-policy TO_{{edge_datacenter}}_EDGEPE_STEERING_V4 export
peer {{edge_datacenter}}_EDGEPE_STEERING_V4 advertise-community
peer {{edge_datacenter}}_EDGEPE_STEERING_V4 advertise-ext-community
peer {{edge_datacenter}}_EDGEPE_STEERING_V4 next-hop-local
y
#
address-family ipv6 unicast
peer {{edge_datacenter}}_EDGEPE_STEERING_V6 enable
y
peer {{edge_datacenter}}_EDGEPE_STEERING_V6 route-policy FROM_{{edge_datacenter}}_EDGEPE_STEERING_V6 import
peer {{edge_datacenter}}_EDGEPE_STEERING_V6 route-policy TO_{{edge_datacenter}}_EDGEPE_STEERING_V6 export
peer {{edge_datacenter}}_EDGEPE_STEERING_V6 advertise-community
peer {{edge_datacenter}}_EDGEPE_STEERING_V6 advertise-ext-community
peer {{edge_datacenter}}_EDGEPE_STEERING_V6 next-hop-local
y
#
{# =============================vpn10 bgp config========================================= #}
ip vpn-instance TI-VPN10-Intranet
group {{edge_datacenter}}_EDGEPE_INTRANET_V4 internal
peer {{edge_datacenter}}_EDGEPE_INTRANET_V4 route-update-interval 0
{# peer {{edge_datacenter}}_EDGEPE_INTRANET_V4 bmp server 2 #}
group {{edge_datacenter}}_EDGEPE_INTRANET_V6 internal
peer {{edge_datacenter}}_EDGEPE_INTRANET_V6 route-update-interval 0
{# peer {{edge_datacenter}}_EDGEPE_INTRANET_V6 bmp server 2 #}
group {{ucore_datacenter}}_UCORE_INTRANET_V4 external
peer {{ucore_datacenter}}_UCORE_INTRANET_V4 as-number 137718
peer {{ucore_datacenter}}_UCORE_INTRANET_V4 route-update-interval 0
group {{ucore_datacenter}}_UCORE_INTRANET_V6 external
peer {{ucore_datacenter}}_UCORE_INTRANET_V6 as-number 137718
peer {{ucore_datacenter}}_UCORE_INTRANET_V6 route-update-interval 0
#
address-family ipv4 unicast
peer {{edge_datacenter}}_EDGEPE_INTRANET_V4 enable
y
peer {{edge_datacenter}}_EDGEPE_INTRANET_V4 route-policy FROM_{{edge_datacenter}}_EDGEPE_INTRANET_V4 import
peer {{edge_datacenter}}_EDGEPE_INTRANET_V4 route-policy TO_{{edge_datacenter}}_EDGEPE_INTRANET_V4 export
peer {{edge_datacenter}}_EDGEPE_INTRANET_V4 advertise-community
peer {{edge_datacenter}}_EDGEPE_INTRANET_V4 advertise-ext-community
peer {{edge_datacenter}}_EDGEPE_INTRANET_V4 next-hop-local
y
peer {{ucore_datacenter}}_UCORE_INTRANET_V4 enable
y
peer {{ucore_datacenter}}_UCORE_INTRANET_V4 route-policy FROM_{{ucore_datacenter}}_UCORE_INTRANET_V4 import
peer {{ucore_datacenter}}_UCORE_INTRANET_V4 route-policy TO_{{ucore_datacenter}}_UCORE_INTRANET_V4 export
peer {{ucore_datacenter}}_UCORE_INTRANET_V4 advertise-community
peer {{ucore_datacenter}}_UCORE_INTRANET_V4 advertise-ext-community
peer {{ucore_datacenter}}_UCORE_INTRANET_V4 keep-all-routes
#
address-family ipv6 unicast
peer {{edge_datacenter}}_EDGEPE_INTRANET_V6 enable
y
peer {{edge_datacenter}}_EDGEPE_INTRANET_V6 route-policy FROM_{{edge_datacenter}}_EDGEPE_INTRANET_V6 import
peer {{edge_datacenter}}_EDGEPE_INTRANET_V6 route-policy TO_{{edge_datacenter}}_EDGEPE_INTRANET_V6 export
peer {{edge_datacenter}}_EDGEPE_INTRANET_V6 advertise-community
peer {{edge_datacenter}}_EDGEPE_INTRANET_V6 advertise-ext-community
peer {{edge_datacenter}}_EDGEPE_INTRANET_V6 next-hop-local
y
peer {{ucore_datacenter}}_UCORE_INTRANET_V6 enable
y
peer {{ucore_datacenter}}_UCORE_INTRANET_V6 route-policy FROM_{{ucore_datacenter}}_UCORE_INTRANET_V6 import
peer {{ucore_datacenter}}_UCORE_INTRANET_V6 route-policy TO_{{ucore_datacenter}}_UCORE_INTRANET_V6 export
peer {{ucore_datacenter}}_UCORE_INTRANET_V6 advertise-community
peer {{ucore_datacenter}}_UCORE_INTRANET_V6 advertise-ext-community
peer {{ucore_datacenter}}_UCORE_INTRANET_V6 keep-all-routes
#
{# =============================tob_dcn bgp config========================================= #}
ip vpn-instance TOB-DCN
group {{edge_datacenter}}_EDGEPE_TOB_DCN_V4 internal
peer {{edge_datacenter}}_EDGEPE_TOB_DCN_V4 route-update-interval 0
{# peer {{edge_datacenter}}_EDGEPE_TOB_DCN_V4 bmp server 2 #}
group {{edge_datacenter}}_EDGEPE_TOB_DCN_V6 internal
peer {{edge_datacenter}}_EDGEPE_TOB_DCN_V6 route-update-interval 0
{# peer {{edge_datacenter}}_EDGEPE_TOB_DCN_V6 bmp server 2 #}
group {{ucore_datacenter}}_UCORE_TOB_DCN_V4 external
peer {{ucore_datacenter}}_UCORE_TOB_DCN_V4 as-number 137718
peer {{ucore_datacenter}}_UCORE_TOB_DCN_V4 route-update-interval 0
group {{ucore_datacenter}}_UCORE_TOB_DCN_V6 external
peer {{ucore_datacenter}}_UCORE_TOB_DCN_V6 as-number 137718
peer {{ucore_datacenter}}_UCORE_TOB_DCN_V6 route-update-interval 0
#
address-family ipv4 unicast
balance 32
balance as-path-relax ebgp
preference 20 200 200
peer {{edge_datacenter}}_EDGEPE_TOB_DCN_V4 enable
y
peer {{edge_datacenter}}_EDGEPE_TOB_DCN_V4 route-policy FROM_{{edge_datacenter}}_EDGEPE_TOB_DCN_V4 import
peer {{edge_datacenter}}_EDGEPE_TOB_DCN_V4 route-policy TO_{{edge_datacenter}}_EDGEPE_TOB_DCN_V4 export
peer {{edge_datacenter}}_EDGEPE_TOB_DCN_V4 advertise-community
peer {{edge_datacenter}}_EDGEPE_TOB_DCN_V4 advertise-ext-community
peer {{edge_datacenter}}_EDGEPE_TOB_DCN_V4 next-hop-local
y
peer {{ucore_datacenter}}_UCORE_TOB_DCN_V4 enable
y
peer {{ucore_datacenter}}_UCORE_TOB_DCN_V4 route-policy FROM_{{ucore_datacenter}}_UCORE_TOB_DCN_V4 import
peer {{ucore_datacenter}}_UCORE_TOB_DCN_V4 route-policy TO_{{ucore_datacenter}}_UCORE_TOB_DCN_V4 export
peer {{ucore_datacenter}}_UCORE_TOB_DCN_V4 advertise-community
peer {{ucore_datacenter}}_UCORE_TOB_DCN_V4 advertise-ext-community
peer {{ucore_datacenter}}_UCORE_TOB_DCN_V4 keep-all-routes
#
address-family ipv6 unicast
balance 32
balance as-path-relax ebgp
preference 20 200 200
peer {{edge_datacenter}}_EDGEPE_TOB_DCN_V6 enable
y
peer {{edge_datacenter}}_EDGEPE_TOB_DCN_V6 route-policy FROM_{{edge_datacenter}}_EDGEPE_TOB_DCN_V6 import
peer {{edge_datacenter}}_EDGEPE_TOB_DCN_V6 route-policy TO_{{edge_datacenter}}_EDGEPE_TOB_DCN_V6 export
peer {{edge_datacenter}}_EDGEPE_TOB_DCN_V6 advertise-community
peer {{edge_datacenter}}_EDGEPE_TOB_DCN_V6 advertise-ext-community
peer {{edge_datacenter}}_EDGEPE_TOB_DCN_V6 next-hop-local
y
peer {{ucore_datacenter}}_UCORE_TOB_DCN_V6 enable
y
peer {{ucore_datacenter}}_UCORE_TOB_DCN_V6 route-policy FROM_{{ucore_datacenter}}_UCORE_TOB_DCN_V6 import
peer {{ucore_datacenter}}_UCORE_TOB_DCN_V6 route-policy TO_{{ucore_datacenter}}_UCORE_TOB_DCN_V6 export
peer {{ucore_datacenter}}_UCORE_TOB_DCN_V6 advertise-community
peer {{ucore_datacenter}}_UCORE_TOB_DCN_V6 advertise-ext-community
peer {{ucore_datacenter}}_UCORE_TOB_DCN_V6 keep-all-routes
#
{# =============================use_fake_asn config========================================= #}
{% if use_fake_asn == "yes" %}
bgp 64543
peer {{ucore_datacenter}}_UCORE_V4 fake-as {{edgepe_asn}}
peer {{ucore_datacenter}}_UCORE_V6 fake-as {{edgepe_asn}}
ip vpn-instance TI-VPN10-Intranet
peer {{ucore_datacenter}}_UCORE_INTRANET_V4 fake-as {{edgepe_asn}}
peer {{ucore_datacenter}}_UCORE_INTRANET_V6 fake-as {{edgepe_asn}}
ip vpn-instance TOB-DCN
peer {{ucore_datacenter}}_UCORE_TOB_DCN_V4 fake-as {{edgepe_asn}}
peer {{ucore_datacenter}}_UCORE_TOB_DCN_V6 fake-as {{edgepe_asn}}
#
{% else %}
{% endif %}
{# =============================bgp peer config========================================= #}
{% for device_name, device_links in devices.items() %}
{% if '-PE-' in device_name %}
{{device_name}}
{# =============================decide asn config========================================= #}
{% if use_fake_asn == "yes" %}
bgp 64543
{% else %}
bgp {{edgepe_asn}}
{% endif %}
{# =============================global bgp peer config========================================= #}
{%- for link in device_links %}
{%- set peer_ipv4_addr = link.peer_ipv4.split('/')[0] %}
{%- set peer_ipv6_addr = link.peer_ipv6.split('/')[0] %}
{%- if link.local_vpn == "none" and link.type != "member" %}
{%- if "UCORE-0" in link.peer_switch or "EX-CORE" in link.peer_switch %}
peer {{ peer_ipv4_addr }} group {{ ucore_datacenter }}_UCORE_V4
y
peer {{ peer_ipv6_addr }} group {{ ucore_datacenter }}_UCORE_V6
y
{%- elif "-PE-" in link.peer_switch %}
peer {{ peer_ipv4_addr }} group {{ edge_datacenter }}_EDGEPE_V4
y
peer {{ peer_ipv6_addr }} group {{ edge_datacenter }}_EDGEPE_V6
y
#
{%- endif %}
{%- endif %}
{%- endfor %}
{# =============================steering bgp peer config========================================= #}
ip vpn-instance LOCAL_VPN_STEERING
{%- for link in device_links %}
{%- if link.local_vpn == "LOCAL_VPN_STEERING" %}
{%- set peer_ipv4_addr = link.peer_ipv4.split('/')[0] %}
{%- set peer_ipv6_addr = link.peer_ipv6.split('/')[0] %}
peer {{ peer_ipv4_addr }} group {{ edge_datacenter }}_EDGEPE_STEERING_V4
y
peer {{ peer_ipv6_addr }} group {{ edge_datacenter }}_EDGEPE_STEERING_V6
y
#
{%- endif %}
{%- endfor %}
{# =============================vpn10 bgp peer config========================================= #}
ip vpn-instance TI-VPN10-Intranet
{%- for link in device_links %}
{%- if link.local_vpn == "TI-VPN10-Intranet" %}
{%- set peer_ipv4_addr = link.peer_ipv4.split('/')[0] %}
{%- set peer_ipv6_addr = link.peer_ipv6.split('/')[0] %}
{%- if "UCORE" in link.peer_switch or ".EX-CORE" in link.peer_switch %}
peer {{ peer_ipv4_addr }} group {{ ucore_datacenter }}_UCORE_INTRANET_V4
y
peer {{ peer_ipv6_addr }} group {{ ucore_datacenter }}_UCORE_INTRANET_V6
y
{%- elif "-PE-" in link.peer_switch %}
peer {{ peer_ipv4_addr }} group {{ edge_datacenter }}_EDGEPE_INTRANET_V4
y
peer {{ peer_ipv6_addr }} group {{ edge_datacenter }}_EDGEPE_INTRANET_V6
y
#
{%- endif %}
{%- endif %}
{%- endfor %}
{# =============================tob_dcn bgp peer config========================================= #}
ip vpn-instance TOB-DCN
{%- for link in device_links %}
{%- if link.local_vpn == "TOB-DCN" %}
{%- set peer_ipv4_addr = link.peer_ipv4.split('/')[0] %}
{%- set peer_ipv6_addr = link.peer_ipv6.split('/')[0] %}
{%- if "UCORE" in link.peer_switch or ".EX-CORE" in link.peer_switch %}
peer {{ peer_ipv4_addr }} group {{ ucore_datacenter }}_UCORE_TOB_DCN_V4
y
peer {{ peer_ipv6_addr }} group {{ ucore_datacenter }}_UCORE_TOB_DCN_V6
y
{%- elif "-PE-" in link.peer_switch %}
peer {{ peer_ipv4_addr }} group {{ edge_datacenter }}_EDGEPE_TOB_DCN_V4
y
peer {{ peer_ipv6_addr }} group {{ edge_datacenter }}_EDGEPE_TOB_DCN_V6
y
#
{%- endif %}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- endfor %}
